.wine_1 {
	background-image: url("../img/wineicon.png");
}

.wine_2 {
	background-image: url("../img/wineicon_2.png");
}

.gro_potion {
	background-image: url("../img/gropotion.png");
}

.shrink_potion {
	background-image: url("../img/shrinkpotion.png");
}

.smart_potion {
	background-image: url("../img/smartpotion.png");
}

.dumb_potion {
	background-image: url("../img/dumbpotion.png");
}

.muscat_1 {
	background-image: url("../img/muscat_1.png");
}

.pie_1 {
	background-image: url("../img/pie_1.png");
}

.gareth_b {
	background-image: url("../img/gareth_b.png");
}

.titan_b {
	background-image: url("../img/titan.png");
}

.glatisant {
	background-image: url("../img/glatisant.png");
}

.impossible {
	background-image: url("../img/impossible.png");
}

.goodsword {
	background-image: url("../img/goodsword.png");
}

.goodstaff {
	background-image: url("../img/goodstaff.png");
}

.goodpicks {
	background-image: url("../img/goodpicks.png");
}

.goodharp {
	background-image: url("../img/goodharp.png");
}

.lotus_2 {
	background-image: url("../img/lotus_2.png");
}

.rose_muscat {
	background-image: url("../img/rose_muscat.png");
}

.gareth_g {
	background-image: url("../img/gareth_g.png");
}

.chips_1 {
	background-image: url("../img/chipsicon.png");
}

.time {
	background-image: url("../img/time.png");
}

.contributor {
	background-image: url("../img/contributor.png");
}

.watervine_1 {
	background-image: url("../img/watervine_1.png");
}

.sword_1 {
	background-image: url("../img/oldsword.png");
}

.magic_hat {
	background-image: url("../img/oldhat.png");
}

.comb {
	background-image: url("../img/comb.png");
}

.useless_raccoon {
	background-image: url("../img/uselessraccoon.png");
}

.uselesscollar {
	background-image: url("../img/uselesscollar.png");
}

.hypnowolf {
	background-image: url("../img/hypnowolf.png");
}

.wolfwarrior {
	background-image: url("../img/wolfwarrior.png");
}

.vagabond {
	background-image: url("../img/vagabond.png");
}

.usefulraccoon {
	background-image: url("../img/usefulraccoon.png");
}

.goblin {
	background-image: url("../img/goblins.png");
}

.boots_1 {
	background-image: url("../img/boots1.png");
}

.socks_1 {
	background-image: url("../img/socks.png");
}

.shirt_1 {
	background-image: url("../img/fluteshirt.png");
}

.fluteicon {
	background-image: url("../img/flute_b.png");
}

.fluteicong {
	background-image: url("../img/flute_g.png");
}

.fluteiconr {
	background-image: url("../img/flute_r.png");
}

.maineicon {
	background-image: url("../img/mayorb.png");
}

.mikhailicon {
	background-image: url("../img/mikhail_b.png");
}

.mikhailicong {
	background-image: url("../img/mikhail_g.png");
}

.turnericon {
	background-image: url("../img/turner_b.png");
}

.turnericong {
	background-image: url("../img/turner_g.png");
}

.linicon {
	background-image: url("../img/lin_b.png");
}

.priesticon {
	background-image: url("../img/bonaciuex_b.png");
}

.priesticong {
	background-image: url("../img/bonaciuex_g.png");
}

.duelpistol {
	background-image: url("../img/duelpistol.png");
}

.silverkey {
	background-image: url("../img/silverkey.png");
}

.halfkey {
	background-image: url("../img/halfkey.png");
}

.festival {
	background-image: url("../img/festival.png");
}

.beneath {
	background-image: url("../img/beneath.png");
}

.lycaeon {
	background-image: url("../img/lycaeon.png");
}

.garethflower {
	background-image: url("../img/garethflower.png");
}

.sevenicon {
	background-image: url("../img/sevenicon.png");
}

.howl {
	background-image: url("../img/howl.png");
}

.paperlantern {
	background-image: url("../img/paperlantern.png");
}

.mysterydragons {
	background-image: url("../img/mysterydragons.png");
}

.accursedicon {
	background-image: url("../img/accursedicon.png");
}

.saberhagenicon {
	background-image: url("../img/saberhagen_b.png");
}

.rittericon {
	background-image: url("../img/rittericon.png");
}

.slavetiger {
	background-image: url("../img/slavetiger.png");
}

.saberhagenicong {
	background-image: url("../img/saberhagen_g.png");
}

.grizzicon {
	background-image: url("../img/grizzicon.png");
}

.viciousicon {
	background-image: url("../img/viciousicon.png");
}

.viciousiconr {
	background-image: url("../img/viciousiconr.png");
}

.gonicon {
	background-image: url("../img/gonicon.png");
}

.gonicong {
	background-image: url("../img/gonicong.png");
}

.drumicon {
	background-image: url("../img/drumicon.png");
}

.kristophb {
	background-image: url("../img/kristophb.png");
}

.grizzicong {
	background-image: url("../img/grissicong.png");
}

.aldericon {
	background-image: url("../img/aldericon.png");
}

.aldericon_r {
	background-image: url("../img/aldericon_r.png");
}

.aldericon_g {
	background-image: url("../img/aldericon_g.png");
}

.aceicon {
	background-image: url("../img/aceicon.png");
}

.aceicon_r {
	background-image: url("../img/aceicon_r.png");
}

.aceicong {
	background-image: url("../img/aceicong.png");
}

.robbyicon {
	background-image: url("../img/robby_b.png");
}

.robbyicong {
	background-image: url("../img/robby_g.png");
}

.jackicon {
	background-image: url("../img/jack_b.png");
}

.jackicong {
	background-image: url("../img/jack_g.png");
}



.pain {
	background-image: url("../img/painicon.png");
}

.guilt {
	background-image: url("../img/guilticon.png");
}

.curse {
	background-image: url("../img/curseicon.png");
}

.outcast {
	background-image: url("../img/outcasticon.png");
}

.might {
	background-image: url("../img/wolficon.png");
}
.magic {
	background-image: url("../img/caticon.png");
}
.charm {
	background-image: url("../img/foxicon.png");
}

.stealth {
	background-image: url("../img/raccoonicon.png");
}

.speciesicon {
	background-image: url("../img/speciesicon.png");
}

.gendericon {
	background-image: url("../img/gender.png");
}

.subicon {
	background-image: url("../img/submissive.png");
}

.navigateicon {
	background-image: url("../img/navigate_icon.png");
}

.domicon {
	background-image: url("../img/dominant.png");
}

.playericon {
	background-image: url("../img/playericon.png");
}

.westwoodicon {
	background-image: url("../img/westwood.png");
}

.anonicon {
	background-image: url("../img/anonicon.png");
}

.lotus_1 {
	background-image: url("../img/witch_lotus.png");
}

.nosering {
	background-image: url("../img/nosering.png");
}

.leonar_r {
	background-image: url("../img/leonar_r.png");
}

.mrbat {
	background-image: url("../img/mrbat.png");
}

.rufo {
	background-image: url("../img/rufo.png");
}

.aldericon {
	background-image: url("../img/guestpanther.png");
}

.demon {
	background-image: url("../img/demonwing.png");
}

.angel {
	background-image: url("../img/angelwing.png");
}

.crocicon {
	background-image: url("../img/crocicon.png");
}

.slaveicon {
	background-image: url("../img/slaveicon.png");
}

.suppliess {
	background-image: url("../img/suppliess.png");
}

.suppliesg {
	background-image: url("../img/suppliesg.png");
}

.thevoid {
	background-image: url("../img/thevoid.png");
}

.mailbox {
	background-image: url("../img/mailboxicon.png");
}

.supplies {
	background-image: url("../img/supplies.png");
}

.skullmask {
	background-image: url("../img/skullmask.png");
}

.bloodstone {
	background-image: url("../img/bloodstone.png");
}

.kind {
	background-image: url("../img/kind.png");
}

.cruel {
	background-image: url("../img/cruel.png");
}

.stoneshield {
	background-image: url("../img/stoneshield.png");
}

.leatherjacket {
	background-image: url("../img/leatherjacket.png");
}

.cigarette {
	background-image: url("../img/cigarette.png");
}

.magicboots {
	background-image: url("../img/magicboots.png");
}

.pawmusk {
	background-image: url("../img/pawmusk.png");
}

.candleofglory {
	background-image: url("../img/candleofglory.png");
}

.watercloth {
	background-image: url("../img/watercloth.png");
}

.prisonshirt {
	background-image: url("../img/prisonshirt.png");
}

.fancyhat {
	background-image: url("../img/fancyhat.png");
}

.magichelm {
	background-image: url("../img/magichelm.png");
}

.dwarfaxe {
	background-image: url("../img/magicaxe.png");
}

.horseson {
	background-image: url("../img/horseson.png");
}

.footfetish {
	background-image: url("../img/feet.png");
}

.vorefetish {
	background-image: url("../img/vore.png");
}

.tffetish {
	background-image: url("../img/transformation.png");
}

.inanimatefetish {
	background-image: url("../img/inanimate.png");
}

.fish {
	background-image: url("../img/fishbones.png");
}